<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Default Title
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('styes.css') }}">
	</head>
	<body>
		<header>
			<!-- Menu ou autre contenu -->
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>

		<footer>
			<!-- Footer -->
		</footer>
	</body>
</html>
